version: '3.8'
services:
  php8:
    container_name: php8
    build: 
      context: ./volumes
      dockerfile: Dockerfile
    volumes:
      - ./volumes/src:/var/www/html/
    ports:
      - 8080:80
    environment:
      TZ: "Asia/Bangkok"
    networks:
      env_developer : {}
networks:
  env_developer:
    external: true
    driver: bridge
      