version: '3.8'
services:
  php7:
    container_name: php7
    build: 
      context: ./volumes
      dockerfile: Dockerfile
    volumes:
      - ./volumes/src:/var/www/html/
    ports:
      - 7070:80
    environment:
      TZ: "Asia/Bangkok"
    networks:
      env_developer : {}

networks:
  env_developer:
    external: true