version: '3.8'
services:
  db:
    container_name: mariadb
    image: mariadb:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p@ss
      - TZ=Asia/Bangkok
    ports:
      - "9906:3306"
    command: --sql_mode="NO_ENGINE_SUBSTITUTION"
    volumes:
      - ./db_data:/var/lib/mysql:rw  # Ensure the volume is mounted as read-write
    user: "999:999"  # Ensure the user matches the mysql user inside the container (UID:999, GID:999)
    networks:
      env_developer: {}
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    ports:
      - "8000:80"
    restart: always
    environment:
      PMA_HOST: db
    networks:
      env_developer: {}
    depends_on:
      - db

volumes:
  db_data:
    driver: local

networks:
  env_developer:
    external: true
