version: '3.8'
services:
  mysql:
    container_name: mysql
    image: mysql:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
      - TZ=Asia/Bangkok
    ports:
      - "9966:3306"
    command: --sql_mode="NO_ENGINE_SUBSTITUTION"
    volumes:
      - ./db_data:/var/lib/mysql:rw  # Ensure the volume is mounted as read-write
    user: "999:999"  # Ensure the user matches the mysql user inside the container (UID:999, GID:999)
    networks:
      env_developer: {}

networks:
  env_developer:
    external: true