version: '3.8'
services:
  php5:
    image: porchn/php5.6-apache
    container_name: php5
    # build: 
    #   context: ./volumes
    #   dockerfile: Dockerfile
    volumes:
      - ./volumes/src:/var/www/html/
    ports:
      - 5050:80
    environment:
      TZ: "Asia/Bangkok"
    networks:
      env_developer : {}

networks:
  env_developer:
    external: true

#https://hub.docker.com/r/porchn/php5.6-apache/